**/.env
**/*ignore*/
# **/*.keras
**/*__pycache__*/
**/Peer Review - Milestone*.docx
# /Semester 2/AIG200 - Capstone Project/Code
/Semester 2/AIG220 - Deep Learning/Lab 1/data
/Semester 2/AIG220 - Deep Learning/Project 1/data
.venv