<?xml version="1.0"?>
<launch>
  <!-- Include the combined custom controller and odometry -->
  <include file="$(find lab5_jetauto_control)/launch/custom_controller.launch" />
  <!-- Square movement script -->
  <node pkg="lab5_jetauto_control" type="jetauto_square.py" name="jetauto_square" output="screen" />
</launch>