<?xml version="1.0"?>
<launch>

  <!-- Controller -->
  <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>

  <!-- Include everything from jetauto_bringup -->
  <!-- <include file="$(find jetauto_bringup)/launch/bringup.launch"/> -->

  <!-- Odometry publisher -->
  <include file="$(find jetauto_controller)/launch/odom_publish.launch">
    <arg name="odom_frame" value="odom"/>
  </include>

</launch>